<!DOCTYPE html>

<h2>new entry</h2>
<br>
<form method="POST" action="">
		date YYYY-MM-DD:<br><input type="text" name="date">
		<br>
		<br>
		title:<br><input type="text" name="title">
		<br>
		<br>	
		art:<br><textarea input type="text" name="art" rows="10" cols="30"></textarea>
		<br>
		<br>
		space separated tags:<br><input type="text" name="tags">
		<br>
		<br>
		<input type="submit" value = "Add!">	
</form>
