<!DOCTYPE html>
<head>
<title>ascii sketchbook</title>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<img src="img/logo.png" height="80" width="80" style="float: left;"><br><h1> ascii sketchbook </h1>
</head>
<body>
	<br>
	{{{ body }}}
	<br>
</body>
<footer>
	<a href="/">home</a> <a href="/add">add</a>
</footer>
</html>
